@use '../../../assets/scss/01-settings' as *;
@use '../../../assets/scss/05-objects' as *;

.main-landing{
    p:first-of-type{
        font-size:$font-size-l-s1;
        line-height:$line-height-l-s1;
        margin-bottom:$space-m;
    }
}
