<div class="page">
    <div class="container">
        <h1 class="h1">Main Landing</h1>
        <p>Welcome to my personal sandbox for all things Angular. I use this space to document coding patterns, test out experimental ideas, and build a library of tools and components that I can reference in my future projects.</p>
        <p>I try to structure the code in a way that follows few code methodologies and some personal preferences:</p>
        <ul class="list">
            <li class="list__li">Following <a href="https://en.wikipedia.org/wiki/SOLID">SOLID</a> principles</li>
            <li class="list__li">Using modern naming convention for angular files without the definition of the "-component-" suffix (and isntead identify the component by their use dividing pages, component and services to be trackable by namefiles)</li>
            <li class="list__li">Learning about architecture and organizing to better maintainibility</li>
            <li class="list__li">Architecturally for SASS, I am using the <a href="https://www.creativebloq.com/web-design/manage-large-css-projects-itcss-101517528">ITCSS methodology</a></li>
            <li class="list__li">Defining class names approaching <a href="https://getbem.com/">BEM</a></li>
        </ul>
    </div>
</div>

