<form class="form form--add-content">
    <fieldset>
        <legend class="h2 form__legend">Add play log</legend>
        <div class="grid grid--gap-m">
            <div class="grid__col grid__col3">
                <div app-input
                    [errorId]="'date-error'"
                    [id]="'date'"
                    [invalid]="isInvalid(date)"
                    [label]="'Date'"
                    [name]="'date'"
                    [required]="true"
                    [type]="'date'"
                    [(ngModel)]="date">
                </div>
                @if (isInvalid(date)) {
                    <p id="date-error" class="form__error">Date is required</p>
                }
            </div>
            <div class="grid__col grid__col3">
                <div app-input
                    [errorId]="'game-error'"
                    [id]="'game'"
                    [invalid]="isInvalid(gameName)"
                    [label]="'Game name'"
                    [name]="'game'"
                    [required]="true"
                    [type]="'text'"
                    [(ngModel)]="gameName">
                </div>
                @if (isInvalid(gameName)) {
                    <p id="game-error" class="form__error">Game name is required</p>
                }
            </div>
            <div class="grid__col grid__col3">
                <label for="number-of-players">
                    <span class="label__text">Number of players</span>
                    <select
                        class="input"
                        name="number-of-players"
                        id="number-of-players"
                        [(ngModel)]="numberOfPlayers"
                        (ngModelChange)="onNumberOfPlayersChange()"
                    >
                        @for (n of playerCountOptions; track n) {
                            <option [value]="n">{{ n }}</option>
                        }
                    </select>
                </label>
            </div>
        </div>
        <div class="grid grid--gap-m">
            @for (i of playerIndexes; track i) {
                <div class="grid__col grid__col3">
                    <div app-input
                        [errorId]="'add-player-error' + (i + 1)"
                        [id]="'add-player' + (i + 1)"
                        [invalid]="isInvalid(playerNames[i])"
                        [label]="'Player ' + (i + 1)"
                        [name]="'add-player' + (i + 1)"
                        [required]="true"
                        [type]="'text'"
                        [(ngModel)]="playerNames[i]"
                        (blur)="updateWinnerOptions()">
                    </div>

                    @if (isInvalid(playerNames[i])) {
                        <p [id]="'add-player-error' + (i + 1)" class="form__error">Player {{ i + 1 }} name is required</p>
                    }
                </div>
            }
        </div>
        <div class="grid grid--gap-m">
            <div class="grid__col grid__col3">
                <div app-select
                    [id]="'select-winner'"
                    [label]="'Winner'"
                    [options]="winnerOptions"
                    [(ngModel)]="winnerName">
                </div>
                @if (isInvalid(winnerName)) {
                    <p id="winner-error" class="form__error">Winner is required</p>
                }
            </div>

        </div>
        <div class="grid grid--gap-m">
            <div class="grid__col grid__col12">
                <div class="form__actions">
                    <button type="button" class="btn btn--cancel" (click)="onCancel()">Cancel</button>
                    <button type="button" class="btn btn--confirm" (click)="onAddContent()">Add content</button>
                </div>
            </div>
        </div>
    </fieldset>
</form>
