@use '../../../assets/scss/01-settings' as *;

.page-content__title{font-size:$h2; font-weight:bold;}
.page-content__ul{display:flex; gap:$space-m;}
.page-content__li{list-style-type:disc; margin:$space-m $space-l $space-m;}
.page-content__link{text-decoration:underline;}
