
<div class="page">
    <div class="container">
        <h1 class="h1 h1--margin">Design System</h1>
        <p>Welcome to my personal sandbox for all things Angular. I use this space to document coding patterns, test out experimental ideas, and build a library of tools and components that I can reference in my future projects.</p>
        <p>I try to structure the code in a way that follows few code methodologies and some personal preferences:</p>
        <ul class="list">
            <li class="list__li">Following <a href="https://en.wikipedia.org/wiki/SOLID">SOLID</a> principles</li>
            <li class="list__li">Using modern naming convention for angular files without the definition of the "-component-" suffix (and isntead identify the component by their use dividing pages, component and services to be trackable by namefiles)</li>
            <li class="list__li">Learning about architecture and organizing to better maintainibility</li>
            <li class="list__li">Architecturally for SASS, I am using the <a href="https://www.creativebloq.com/web-design/manage-large-css-projects-itcss-101517528">ITCSS methodology</a></li>
            <li class="list__li">Defining class names approaching <a href="https://getbem.com/">BEM</a></li>
        </ul>
    </div>
</div>
<div class="grid-system">
    <h2 id="grid-system" class="h2 h2--margin">Grid System 01</h2>
    <div class="grid-system--01 grid grid--gap-m grid--col-pad-s">
        <div class="grid__col grid__col1">Col1</div>
        <div class="grid__col grid__col2">Col2</div>
        <div class="grid__col grid__col3">Col3</div>
        <div class="grid__col grid__col4">Col4</div>
        <div class="grid__col grid__col5">Col5</div>
        <div class="grid__col grid__col6">Col6</div>
        <div class="grid__col grid__col7">Col7</div>
        <div class="grid__col grid__col8">Col8</div>
        <div class="grid__col grid__col9">Col9</div>
        <div class="grid__col grid__col10">Col10</div>
        <div class="grid__col grid__col11">Col11</div>
        <div class="grid__col grid__col12">Col12</div>

        <div class="grid__col grid__col13">Col13</div>
        <div class="grid__col grid__col14">Col14</div>
        <div class="grid__col grid__col15">Col15</div>
        <div class="grid__col grid__col16">Col16</div>
        <div class="grid__col grid__col17">Col17</div>
        <div class="grid__col grid__col18">Col18</div>

        <div class="grid__col grid__col19">Col19</div>
        <div class="grid__col grid__col20">Col20</div>
        <div class="grid__col grid__col21">Col21</div>
        <div class="grid__col grid__col22">Col22</div>

        <div class="grid__col grid__col23">Col23</div>
        <div class="grid__col grid__col24">Col24</div>
        <div class="grid__col grid__col25">Col25</div>

        <div class="grid__col grid__col26">Col26</div>
        <div class="grid__col grid__col27">Col27</div>

        <div class="grid__col grid__col28">Col28</div>
    </div>
    <hr class="hr" />
    <h2 id="grid-system-02" class="h2 h2--margin">Grid System 02</h2>
    <div class="grid-system--02 grid grid--gap-m grid--col-pad-s">
        <div class="grid__col grid__col1">Col1</div>
        <div class="grid__col grid__col2">Col2</div>
        <div class="grid__col grid__col3">Col3</div>
        <div class="grid__col grid__col4">Col4</div>
        <div class="grid__col grid__col5">Col5</div>
        <div class="grid__col grid__col6">Col6</div>
        <div class="grid__col grid__col7">Col7</div>
        <div class="grid__col grid__col8">Col8</div>
        <div class="grid__col grid__col9">Col9</div>
        <div class="grid__col grid__col10">Col10</div>
        <div class="grid__col grid__col11">Col11</div>
        <div class="grid__col grid__col12">Col12</div>
    </div>
</div>

