<div class="page-content">
    <h1 class="page-content__title">Design system</h1>
    <ul class="page-content__ul">
        <li class="page-content__li"><a class="page-content__link" href="#grid-system">Grid system</a></li>
    </ul>
</div>

<hr class="hr">

<div class="grid-system">
    <h2 id="#grid-system" class="title">Grid system</h2>
    <div class="grid-system__example grid grid--gap-m grid--col-pad-s">
        <div class="grid__col grid__col1">Col1</div>
        <div class="grid__col grid__col2">Col2</div>
        <div class="grid__col grid__col3">Col3</div>
        <div class="grid__col grid__col4">Col4</div>
        <div class="grid__col grid__col5">Col5</div>
        <div class="grid__col grid__col6">Col6</div>
        <div class="grid__col grid__col7">Col7</div>
        <div class="grid__col grid__col8">Col8</div>
        <div class="grid__col grid__col9">Col9</div>
        <div class="grid__col grid__col10">Col10</div>
        <div class="grid__col grid__col11">Col11</div>
        <div class="grid__col grid__col12">Col12</div>

        <div class="grid__col grid__col13">Col13</div>
        <div class="grid__col grid__col14">Col14</div>
        <div class="grid__col grid__col15">Col15</div>
        <div class="grid__col grid__col16">Col16</div>
        <div class="grid__col grid__col17">Col17</div>
        <div class="grid__col grid__col18">Col18</div>

        <div class="grid__col grid__col19">Col19</div>
        <div class="grid__col grid__col20">Col20</div>
        <div class="grid__col grid__col21">Col21</div>
        <div class="grid__col grid__col22">Col22</div>

        <div class="grid__col grid__col23">Col23</div>
        <div class="grid__col grid__col24">Col24</div>
        <div class="grid__col grid__col25">Col25</div>

        <div class="grid__col grid__col26">Col26</div>
        <div class="grid__col grid__col27">Col27</div>

        <div class="grid__col grid__col28">Col28</div>
    </div>
</div>
