@use '../../../assets/scss/grid-system' as *;


.grid-system__example{
    @include column(1, 28) {
        @include col-size-2;
        background: #ddd;
    }
    @include column(13, 18) {
        @include col-size-4;
        background: red;
        color:#fff;
    }
}
