<div class="page">
    <div class="container">
        <h1 class="h1 h1--margin">Tabletop</h1>
        <p>A simple app to count games</p>

        <h2>Title</h2>
    
        @for (arr of games; track arr) {
            <p>{{ arr.name }}</p>
        }
        <hr class="hr">

        @for (arr of gameDays; track arr) {
            <p>{{ arr.games }}</p>
        }
        <br>
        <br>

        <button (click)="clickPrevEvent()">Prev Event</button>
        <br>
        <p>Dates: {{ currentDate() }} </p>
        <br>
        <button (click)="clickNextEvent()">Next Event</button>
    </div>
</div>
