@use '../../../assets/scss/01-settings' as *;

#main-nav{background:#21B7BB; margin-bottom:$space-m; font-weight:bold; color:#fff;}
.main-nav__ul{display:flex;}
.main-nav__link{display:block; padding:$space-m;}