@use '../../../assets/scss/01-settings' as *;

.tabpanel{margin-bottom:$space-l;}
.tabpanel__nav{display:flex; margin-bottom:-1px;}
.tabpanel__nav__btn{
    border:1px solid $color-grey;
    border-width:1px 1px 0!important;
    padding:calc($space-s * 1.5) $space-m;
    background:none;
    border-radius:8px 8px 0 0;
    min-width:100px;
}
.tabpanel__nav__btn--active{
    font-weight:bold;
    background:$color-white;
    border-bottom-style:none;
}

.tabpanel__content{
    display:none;
    padding:$space-m;
    border:1px solid $color-grey;
    background:$color-white;
    p:last-child{margin-bottom:0;}
}
.tabpanel__content--active{display:block;}
